<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
  </head>
  <body>
    <div class="wrapper">
        <!--<div class="logo"></div>-->
      <div class="hor_navigation"></div>
          <div class="ver_navigation">
        <!--<div class="user_profile"></div>-->
        <!--<div class="user_name">Emil Ragnarsson</div>-->
        <div class="settings">
          <ul>
            <li><a href="/login">Login</a></li>
        </ul>
        </div>
      </div>
          <div class="content"></div>
    </div>
  </body>
</html>