<!doctype html>
<html>
<head>
    <title>Login forritari.is</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
    <style>
        body { 
            padding-top:80px;
            background: url('/images/wall3.jpg') no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        h1,label,p {
            color: #ffffff;
        }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    <h1><span class="glyphicon glyphicon-globe"></span> Skrá inn á forritari.is</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <form action="/login" method="post">
        <div class="form-group">
            <label>Tölvupóstur</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Lykilorð</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Skrá inn</button>
    </form>
    <hr>
    <p>Ekki kominn með notendaaðgang? <a href="/signup">Skrá nýjan notanda</a></p>
    <p>eða viltu komast aftur á <a href="/">forsíðu</a>.</p>

</div>
</div>
</body>
</html>
