.container.marketing {
  margin-top: 60px;
}


.users {
    margin-top: 20px;
    text-align: center;
}


.item{
    background: #333;    
    text-align: center;
}

.control-buttons{
  text-align:center;
}

.transition-timer-carousel-progress-bar {
    height: 3px;
    background-color: #2098d1;
    width: 0%;
    margin: 0px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}

.about {
  margin-top: 30px;
  margin-bottom: 30px;
}

.col-lg-4 li {
  list-style-type: none;
}

.filterbtn {
  border-radius: 0px;
  width: 15vh;
}

.list {
  list-style-type: none;
  display: inline;
}

.carousel {
  margin-bottom: 0 !important;
}

.warning {
  background-color: #FF6633;
}

#problemMessage {
    margin: 0;
    padding: 0;
    background-color: #FF6633;
}